@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
html,
body {
  width: 100%;
  height: 200vh;
}
.container {
  position: relative;
  height: 100%;
  width: 100%;
  background-color: red;
  margin: 0 auto;
  padding: 40px 20px;
}
.container .searchBox {
  position: relative;
  width: 400px;
  background-color: green;
  height: 42px;
  margin: 0 auto;
  margin-bottom: 40px;
}
.searchBox input{
    width: 100%;
    height: 100%;
    position: absolute;
    outline: none;
    border: none;
    background-color: #323334;
    color: #fff;
    padding: 0 15px 0 45px;
    border-radius: 6px;
}
.searchBox i{
    position: absolute;
    z-index: 2;
    color: #999;
    top: 50%;
    left: 15px;
    transform: translateY(-50%);
}
.container .images .imageBox{
    position: relative;
    width: 210px;
    height: 300px;

}
.images .imageBox img{
    height: 100%;
    width: 100%;
    border-radius: 6px;
    transition: transform .3s ease;
}
.imageBox h6{
    position: absolute;
    bottom: 10px;
    left: 10px;
    color: #fff;
    font-size: 12px;
    font-weight: 400;
    text-transform: capitalize;
}
.imageBox:hover img{
    transform: scale(1.05);
}
.images .imageBox{
    margin: 8px;
}
.images{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}